@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "nullstyle.scss";
body{
      font-family: "Montserrat";
}
.wrapper {
      min-height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
}
.container {
      max-width: 1426px;
      margin: 0px auto;
}
.header {
      width: 100%;
      z-index: 100;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #EDA418 47.4%, rgba(237, 164, 24, 0) 100%);
      margin: 0 0 106px 0;
      
		&__body {
                
                  margin:105px 0 0 0;
                  
            
		}

		&__menu {
                  display: flex;
                  justify-content: space-between;
                  
                  
		}

		&__logo {
                 
             
                 
                  img{
                        
                        
                        
                  }
                  
		}

		&__list {
                  min-width: 472px;
            
                  padding: 12px 0 0 0;

                 
		}

		&__items {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;
                  font-size: 25px;
                  line-height: 30.48px;
                  :first-child{
                        font-weight: 700;
                  }
                  
                
                

		}

		&__item {
                  cursor: pointer;
                  transition-duration: 0.7s;
                  &:hover{
                       
                        color: rgba(0, 0, 0, 0.366);
                  }
		}

		&__basket {
                  
                        
                        
                 
                  img{
                        
                       
                  }
		}

		&__bord {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
		}

		&__text {

		}

		&__title {
                  font-size: 32px;
                  font-weight: 800;
                  line-height: 39.01px;
                  text-align: left;
                  margin: 0 0 29px 0;

		}
           

		&__texting {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 19.5px;
                  text-align: left;
                  margin: 0 0 29px 0;

		}

		&__button {

                  button{
                        border-radius: 50px;
                        background: rgba(229, 38, 38, 1);
                  font-size: 24px;
                  font-weight: 400;
                  line-height: 29.26px;
                  color: rgba(255, 255, 255, 1);
                  padding: 14px 18px;
            transition-duration: 0.7s;
                  }
                  :hover{
                        background: rgba(255, 255, 255, 1);
                        color: rgba(229, 38, 38, 1);
                  }
                  

		}

		&__icons img{
                  max-width: 100%;
                  height: auto;
		}
}
.content{
      flex: 1 1 auto;
  }

.menu {
      padding: 0 0 46px 0;

		&__body {
		}

		&__title {
                  font-size: calc(30px + 15 * (100vw / 1426));
                  font-weight: 500;
                  line-height: 54.86px;
                  text-align: center;
                  margin: 0 0 38px 0;


		}

		&__items {
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  row-gap: 46px;
                  column-gap: 38px;
		}

		&__item {
                  display: grid;
                  grid-auto-flow: row;
                  grid-template: 1fr 1fr;
                  row-gap: 14px;
            
                 
		}

		&__image {
                 
                  position: relative;
        padding: 0 0 66% 0;
        

        img{
        
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; 
        left: 0;

        transition-duration: 0.7s;
        &:hover{
            padding: 10px;
            
            }
		}
      }

		&__text {
                  font-size: calc(20px + 15 * (100vw / 1426));
                  font-weight: 500;
                  line-height: 42.67px;
                  text-align: center;
                  transition-duration: 0.7s;
                  color: rgba(0, 0, 0, 1);
                  &:hover{
                       
                        color: rgba(0, 0, 0, 0.492);
                  }


		}
}

.footer {
 padding: 156px 0 0 0;
      background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #EDA61D 100%);


		&__body {
                  display: flex;
                  flex-direction: column;
                  height: 100%;
                  padding: 0;
                  margin: 0;
                  align-items: center;
                  justify-content: center;
                 
                 
		}

		&__items {
                  display: flex;
                  justify-content: space-between;
                  width: 964px;
                  margin: 0 0 45px 0;

                  
		}

		&__item {
                  a{
                  color: rgba(0, 0, 0, 1);
                  font-size: 20px;
                  font-weight: 400;
                  line-height: 24.38px;
                  text-align: center;
                  transition-duration: 0.7s;
                  }
            
                  :hover{
                        color: rgba(0, 0, 0, 0.513);
                  }


		}

		&__name {
                 
                  display: flex;
                  justify-content: center;
                  margin: 0 0 24px 0;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 24.38px;
                  text-align: left;

            }

		&__pravo {
                
                  display: flex;
                  justify-content: center;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 24.38px;
                  text-align: left;
                  margin: 0 0 24px 0;

		}
            &__icon{
                  display: flex;
                  justify-content: center;
            }

		&__vk {
                  margin: 0 10px 0 0;
                  img{
                  width: 50px;
                  height: 50px;
                  }
                  
		}

		&__telegram img{
                  width: 50px;
                  height: 50px;
            
		}
}

@media(max-width:960px){
      .popup__content{
          width: 300px;
      }
      .menu__items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 46px;
            column-gap: 38px;
      }
      .header__items{
            display: none;
      }
      .header__basket{
          
      }
      
      .header__logo{
          

      }
      .header__menu{
            display: flex;
           
      }
      .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;

      }
      .header__burger span{
            position: absolute;
            background-color: #000000;
           right: 5px;
            width: 100%;
            height: 1px;
            top: 9px;
            transition: all 0.5s ease 0s ;
      }
      .header__burger::before,
      .header__burger::after{
            content: '';
            background-color: #000000;
            width: 100%;
            height: 1px;
            right: 5px;
            position: absolute;
            transition: all 0.5s ease 0s ;
      }
      .header__burger:before{
            top: 0;

      }
      .header__burger:after{
            bottom: 0;
      }
      .header__burger.active:before{
            transform: rotate(45deg);
            top: 9px;
      }
      .header__burger.active:after{
            transform: rotate(-45deg);
            bottom: 9px;
      }
      .header__burger.active span{
            transform:scale(0) ;
      }
      .header__list {
            position:fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color:#FFFFFF ;
            display: block;
            padding: 100px 0 0 0;
            transition: all 0.5s ease 0s ;
            overflow: auto;
          
      }
      .header__max.active{
            top: 0;
            left: 0;
      }
}
      @media(max-width:500px){
            .popup__content{
                width: 300px;
            }
            .menu__items {
                  display: grid;
                  grid-template-columns: 1fr;
                  row-gap: 46px;
                  column-gap: 38px;
            }
            }